* {
  margin: 0 !important;
  font-family: "Ubuntu", sans-serif;
}

body {
  background-color: #222831;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  padding: 10px;
}

.grid-item-1 {
  align-self: center;
  padding: 10px;
}

.grid-item-2 {
  align-self: center;
  color: white;
}
