.grid-container-weather {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: center;
  padding: 45px 0 20px 0;
  gap: 50px;
  color: white;
}

.grid-item-weather-1 {
  align-self: center;
}

.grid-item-weather-2 {
  align-self: center;
}

.grid-item-weather-3 {
  align-self: center;
}

.grid-item-weather-4 {
  align-self: center;
}
